{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': county} %}
    {% block callback %}
        <tr>
            <th>Towns</th>
            <td>
                {% if county.towns|length > 0 %}
                    <ul>
                        {% for town in county.towns %}
                            <li>
                                <a href='{{ path("town_show", {"id":town.id }) }}'>
                                    {{ town }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Links</th>
            <td>
                {% embed '@NinesMedia/link/partial/list.html.twig'
                    with {
                    'entity': county
                } %}
                {% endembed %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
