{% extends 'base.html.twig' %}

{% block title %}County List{% endblock %}

{% block pageheader %}
    <h1>County List</h1>
    <p class="count">
        Displaying {{ counties|length }} counties of {{ counties.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('county_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': counties, 'path': 'county_show'} %}
    {% endembed %}
{% endblock %}
