{% extends 'base.html.twig' %}

{% block title %}Edit Archdeaconry or Peculiar Court {% endblock %}

{% block body %}
    <h1>Edit Archdeaconry or Peculiar Court </h1>

    {% embed 'archdeaconry/partial/form.html.twig' %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
