{% extends 'base.html.twig' %}

{% block title %}Archdeaconry and Peculiar Court List{% endblock %}

{% block pageheader %}
    <h1>Archdeaconry and Peculiar Court List</h1>
    <p class="count">
        Displaying {{ archdeaconries|length }} archdeaconries of {{ archdeaconries.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('archdeaconry_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': archdeaconries, 'path': 'archdeaconry_show'} %}
    {% endembed %}
{% endblock %}
