{% extends 'base.html.twig' %}

    {% block title %}New Archdeaconry or  Peculiar Court  {% endblock %}

    {% block body %}
        <h1>New Archdeaconry or Peculiar Court </h1>

        {% embed 'archdeaconry/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
