{% extends 'popup.html.twig' %}

    {% block title %}New Archdeaconry {% endblock %}

    {% block body %}
        <h1>New Archdeaconry</h1>

        {% embed 'archdeaconry/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
