{% extends 'base.html.twig' %}

    {% block title %}Edit Monarch {% endblock %}

    {% block body %}
        <h1>Edit Monarch</h1>

        {% embed 'monarch/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
