{% extends 'base.html.twig' %}

{% block title %}Monarch List{% endblock %}

{% block pageheader %}
    <h1>Monarch List</h1>
    <p class="count">
        Displaying {{ monarchs|length }} Monarchs of {{ monarchs.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('monarch_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': monarchs, 'path': 'monarch_show' } %}
    {% endembed %}
{% endblock %}
