{% extends 'base.html.twig' %}

    {% block title %}Edit Diocese {% endblock %}

    {% block body %}
        <h1>Edit Diocese</h1>

        {% embed 'diocese/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
