{% extends 'base.html.twig' %}

{% block title %}Diocese List{% endblock %}

{% block pageheader %}
    <h1>Diocese List</h1>
    <p class="count">
        Displaying {{ dioceses|length }} dioceses of {{ dioceses.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('diocese_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': dioceses, 'path': 'diocese_show'} %}
    {% endembed %}
{% endblock %}
