{% extends 'base.html.twig' %}

{% block title %}Town and London Ward List{% endblock %}

{% block pageheader %}
    <h1>Town and London Ward List</h1>
    <p class="count">
        Displaying {{ towns|length }} towns of {{ towns.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('town_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': towns, 'path': 'town_show'} %}
    {% endembed %}
{% endblock %}
