{% extends 'base.html.twig' %}

    {% block title %}Edit Injunction {% endblock %}

    {% block body %}
        <h1>Edit Injunction</h1>

        {% embed 'injunction/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
