{% extends 'base.html.twig' %}

    {% block title %}Edit Archive {% endblock %}

    {% block body %}
        <h1>Edit Archive</h1>

        {% embed 'archive/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
