{% extends 'base.html.twig' %}

{% block title %}Archive List{% endblock %}

{% block pageheader %}
    <h1>Archive List</h1>
    <p class="count">
        Displaying {{ archives|length }} archives of {{ archives.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('archive_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': archives, 'path': 'archive_show'} %}
    {% endembed %}
{% endblock %}
