{% extends 'base.html.twig' %}

{% block title %}Nation List{% endblock %}

{% block pageheader %}
    <h1>Nation List</h1>
    <p class="count">
        Displaying {{ nations|length }} nations of {{ nations.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('nation_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': nations, 'path': 'nation_show'} %}
    {% endembed %}
{% endblock %}
