{% extends 'base.html.twig' %}

{% block title %}New Nation {% endblock %}

{% block body %}
    <h1>New Nation</h1>

    {% embed 'nation/partial/form.html.twig' %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
