{% extends 'base.html.twig' %}

    {% block title %}Edit Surviving Text {% endblock %}

    {% block body %}
        <h1>Edit Surviving Text</h1>

        {% embed 'holding/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
