{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': format} %}
    {% block callback %}
        <tr>
            <th>Books</th>
            <td>
                {% if format.books|length > 0 %}
                    <ul>
                        {% for book in format.books %}
                            <li>
                                <a href='{{ path("book_show", {"id":book.id }) }}'>
                                    {{ book }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
