{% extends 'base.html.twig' %}

{% block title %}Format List{% endblock %}

{% block pageheader %}
    <h1>Format List</h1>
    <p class="count">
        Displaying {{ formats|length }} formats of {{ formats.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('format_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': formats, 'path': 'format_show'} %}
    {% endembed %}
{% endblock %}
