{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': diocese} %}
    {% block callback %}
        <tr>
            <th>Province</th>
            <td>
                {% if diocese.province %}
                    <a href='{{ path("province_show", {"id": diocese.province.id}) }}'>{{ diocese.province }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Archdeaconries</th>
            <td>
                {% if diocese.archdeaconries|length > 0 %}
                    <ul>
                        {% for archdeaconry in diocese.archdeaconries %}
                            <li>
                                <a href='{{ path("archdeaconry_show", {"id":archdeaconry.id }) }}'>
                                    {{ archdeaconry }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
