{% extends 'base.html.twig' %}

{% block title %}Transaction Category List{% endblock %}

{% block pageheader %}
    <h1>Transaction Category List</h1>
    <p class="count">
        Displaying {{ transaction_categories|length }} transaction_categories
        of {{ transaction_categories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('transaction_category_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': transaction_categories, 'path': 'transaction_category_show'} %}
    {% endembed %}
{% endblock %}
