{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': archdeaconry} %}
    {% block callback %}
        <tr>
            <th>Diocese</th>
            <td>
                {% if archdeaconry.diocese %}
                    <a href='{{ path("diocese_show", {"id": archdeaconry.diocese.id}) }}'>{{ archdeaconry.diocese }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parishes</th>
            <td>
                {% if archdeaconry.parishes|length > 0 %}
                    <ul>
                        {% for parish in archdeaconry.parishes %}
                            <li>
                                <a href='{{ path("parish_show", {"id":parish.id }) }}'>
                                    {{ parish }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Links</th>
            <td>
                {% embed '@NinesMedia/link/partial/list.html.twig' with {
                    'entity': archdeaconry } %}
                {% endembed %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
