{% extends 'base.html.twig' %}

    {% block title %}Edit Province {% endblock %}

    {% block body %}
        <h1>Edit Province</h1>

        {% embed 'province/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
