{% extends 'base.html.twig' %}

{% block title %}Edit Source Category {% endblock %}

{% block body %}
    <h1>Edit Source Category</h1>

    {% embed 'source_category/partial/form.html.twig' %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
