{% extends 'base.html.twig' %}

{% block title %}Source Category List{% endblock %}

{% block pageheader %}
    <h1>Source Category List</h1>
    <p class="count">
        Displaying {{ source_categories|length }} source_categories of {{ source_categories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('source_category_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig'
        with {'terms': source_categories, 'path': 'source_category_show'} %}
    {% endembed %}
{% endblock %}
