{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': source_category} %}
    {% block callback %}
        <tr>
            <th>Sources</th>
            <td>
                {% if source_category.sources|length > 0 %}
                    <ul>
                        {% for source in source_category.sources %}
                            <li>
                                <a href='{{ path("source_show", {"id":source.id }) }}'>
                                    {{ source }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
