{% extends 'base.html.twig' %}

    {% block title %}Copy Transaction {% endblock %}

    {% block body %}
        <h1>Copy Transaction</h1>

        {% embed 'transaction/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
